---
BasedOnStyle: Microsoft
AlignArrayOfStructures: Right
ColumnLimit: 100
BraceWrapping:
  AfterClass: False
  AfterControlStatement: Never
  AfterEnum: False
  AfterNamespace: False
  AfterStruct: False
  BeforeElse: False
