---
BasedOnStyle: Microsoft
AccessModifierOffset: -4
AlignArrayOfStructures: Right
AlignConsecutiveMacros:
  Enabled: true
AlignEscapedNewlines: LeftWithLastLine
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
ColumnLimit: 100
BraceWrapping:
  AfterClass: False
  AfterControlStatement: Never
  AfterEnum: False
  AfterNamespace: False
  AfterStruct: False
  BeforeElse: False
