[user]
    email = khoa05032006@gmail.com
    name = nptrc

[core]
    pager = delta

[init]
    defaultBranch = main

[safe]
    directory = *

[credential "helperselector"]
    selected = manager

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    dark = true
    side-by-side = true
    line-numbers-left-format = "{nm}│"
    line-numbers-right-format = "│{nm}│"

[merge]
    conflictstyle = zdiff3
