palette = "catppuccin_macchiato"
add_newline = false

[palettes.catppuccin_macchiato]
rosewater = "#f4dbd6"
flamingo = "#f0c6c6"
pink = "#f5bde6"
mauve = "#c6a0f6"
red = "#ed8796"
maroon = "#ee99a0"
peach = "#f5a97f"
yellow = "#eed49f"
green = "#a6da95"
teal = "#8bd5ca"
sky = "#91d7e3"
sapphire= "#7dc4e4"
blue = "#8aadf4"
lavender = "#b7bdf8"
text = "#cad3f5"
subtext1 = "#b8c0e0"
subtext0 = "#a5adcb"
overlay2 = "#939ab7"
overlay1 = "#8087a2"
overlay0 = "#6e738d"
surface2 = "#5b6078"
surface1 = "#494d64"
surface0 = "#363a4f"
base = "#24273a"
mantle = "#1e2030"
crust = "#181926"

[username]
disabled = true

[character]
success_symbol = "[❯](bold peach)"
error_symbol = "[✗](bold peach)"

[directory]
style = "bold lavender"
truncation_length = 100
truncation_symbol = ""
truncate_to_repo = false
use_os_path_sep = false

[git_branch]
symbol = ""
format = "[$symbol $branch](bold mauve) "

[cmd_duration]
min_time = 500
format = '\([$duration](bold yellow)\) '
